.wrapper {
  margin-top: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  transition: all 1s ease-in-out;
}

.scifi {
  background: url(../../public/images/scifi-ship.jpg) no-repeat center center
    fixed;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  transition: all 1s ease-in-out;
}
.adventure {
  background: url(../../public/images/adventure-new.jpg) no-repeat center center
    fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.fantasy {
  background: url(../../public/images/fantasy.jpg) no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
